body {
    margin-top: 50px;
}

nav.navbar {
    margin-bottom: 0;
}

.jumbotron, .alert, .btn, .panel, .form-control {
    border-radius: 0;
}

.vpad {
    padding-top: 50px;
    padding-bottom: 50px;
}