{% extends 'base.html' %}

{% block page_title %}
{{ page_title }}
{% endblock page_title %}

{% block page_header %}

<header class="vpad-sm">
<div class="container">
  <h1>Browse</h1>
</div>
</header>
{% endblock page_header %}

{% block main %}

<div class="container">
<div class="row">

  <div class="col-md-8">

  {% for herb in herbs %}
  	<div class="thumbnail">
  		{% if herb.image %}
  			<a href="{{ herb.get_absolute_url }}">
            <img src='{{ herb.image.url }}' class='img-responsive'>
            </a>
  		{% endif %}
  		<div class='caption'>
            <h3><a href="{{ herb.get_absolute_url }}"> {{ herb.eng_name|truncatechars:20 }} </a> </h3>
            <div>{{ herb.description|truncatechars:50 }}</div>
        </div>
    </div>
  {% endfor %}

  </div>
 </div>
</div>

{% endblock main %}
