{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block bg %}
  {% static 'jadibuti/img/bg-knife.jpg' %}
{% endblock bg %}

{% block page_header %}
<header class="vpad-sm">
<div class="container">
  <h1 class="white-text text-shadow">Browse</h1>
</div>
</header>
{% endblock page_header %}

{% block main %}

<div class="container">
<div class="row">

  {% for herb in herbs %}
  <div class="col-sm-6">
  	<div class="thumbnail">
  		{% if herb.image %}
  			<a href="{{ herb.get_absolute_url }}">
            <img src='{{ herb.image.url }}' class='img-responsive'>
            </a>
      {% endif %}
  		<div class='caption'>
            <h3><a href="{{ herb.get_absolute_url }}"> {{ herb.eng_name|truncatechars:20 }} </a> </h3>
            <div>{{ herb.description|truncatechars:50 }}</div>
        </div>
    </div>
  </div><!--col-->
  {% endfor %}



{% comment %}
  <div class="col-sm-4">
  <div class="panel panel-default">
      <div class="panel-heading">
        Categories
      </div><!--panel-heading-->
      <div class="panel-body" style="padding:0;">
        <ul class="list-group" style="margin:0;">
            <a class="list-group-item" href="{% url 'browse:herbs' %}">All
              <span class="label label-default pull-right">{{ total_herbs }}</span></a>
          {% for cat in categories %}
            <a class="list-group-item" href="#">
            {{ cat.name }} <span class="label label-default pull-right">{{ cat.category|length }}</span>
            </a>
          {% endfor %}
        </ul>
      </div><!--panel-body-->
  </div><!--panel-->
  </div><!--column 2-->
  {% endcomment %}
</div><!--row-->
</div><!--container-->

{% endblock main %}
