{% extends 'base.html' %}
{% load staticfiles %}


{% block page_title %}
  {{ page_title }}
{% endblock page_title %}


{% block bg %}
  {% static 'jadibuti/img/bg-knife.jpg' %}
{% endblock bg %}


{% block page_header %}
<header class="vpad-sm">
<div class="container">
  <h1 class="white-text text-shadow">
    {% if request.GET.q %}
      Search results
    {% else %}
      Browse
    {% endif %}
  </h1>
</div>
</header>
{% endblock page_header %}


{% block main %}

<div class="container">
<div class="row">

  <!-- list -->
  <div class="col-md-8">

    {% if not posts and request.GET.q %}
    <div class="no-result">
      <h3>No Result Found</h3>
    </div>
    {% endif %}

    {% for h in herbs %}
    <div class="panel panel-default">
    <div class="panel-body">
    <div class="row">

        <!-- image -->
        <div class="col-xs-3">
        <div class="image-container" style="height: 100px; overflow: hidden;">
        <a href="{{ h.get_absolute_url }}">
          {% if h.image %}
            <img src="{{ h.image.url }}" class="img-responsive">
          {% else %}
            <img src="{% static 'jadibuti/img/icon.png' %}" class="img-responsive">
          {% endif %}
        </a>
        </div><!--img-container-->
        </div>

        <!-- image -->
        <div class="col-xs-9">
          <h3>
          <a href="{{ h.get_absolute_url }}">
            {{ h.eng_name }}
            {% if h.nep_name %}
              ({{ h.nep_name }})
            {% endif %}
          </a>
          </h3>
          <p>{{ h.description|truncatechars:160 }}</p>
        </div>

    </div><!--row-->
    </div><!--panel-body-->
    </div><!--panel-->
    {% endfor %}

  </div>


{% comment %}
  <div class="col-sm-4">
  <div class="panel panel-default">
      <div class="panel-heading">
        Categories
      </div><!--panel-heading-->
      <div class="panel-body" style="padding:0;">
        <ul class="list-group" style="margin:0;">
            <a class="list-group-item" href="{% url 'browse:herbs' %}">All
              <span class="label label-default pull-right">{{ total_herbs }}</span></a>
          {% for cat in categories %}
            <a class="list-group-item" href="#">
            {{ cat.name }} <span class="label label-default pull-right">{{ cat.category|length }}</span>
            </a>
          {% endfor %}
        </ul>
      </div><!--panel-body-->
  </div><!--panel-->
  </div><!--column 2-->
  {% endcomment %}

  <!-- sidebar -->
  <div class="col-md-4">

    <!-- TODO -->

  </div>

</div><!--row-->
</div><!--container-->

{% endblock main %}
