{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Login{% endblock page_title %}

{% block bg %}
    {% static 'jadibuti/img/bg-leaves.jpg' %}
{% endblock bg %}

{% block main %}

<section class="vpad">
<div class="container vpad">
<div class="row">
<div class="col-sm-offset-4 col-sm-4">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Login @ Jadibuti</h3>
        </div><!--panel-heading-->
        <div class="panel-body">

            <form action="" method="POST" role="login">
                {% csrf_token %}

                <!-- username -->
                <div class="form-group">
                    {{ login_form.username.label_tag }}
                    {{ login_form.username }}
                </div>

                <!-- password -->
                <div class="form-group">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                </div>

                <!-- submit -->
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>

            </form>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <p>Not registered yet? <a href="{% url 'register' %}">Register now!</a></a>
        </div><!--panel-footer-->
    </div><!-- panel -->

</div><!--col-->
</div><!--row-->
</div><!--container-->
</section>
{% endblock main %}
