{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block page_title %}
    {{ post.title }}
{% endblock page_title %}


{% block bg %}
{% if post.image %}
    {{ post.image.url }}
{% endif %}
{% endblock bg %}


{% block main %}
<div class="container vpad">
<div class="col-sm-10 col-sm-offset-1 white-bg" style="padding:30px;">

    <header>
        <h1>{{ post.title }}
            {% if post.reviews %}
            <span class="label label-success pull-right">
                <span class="glyphicon glyphicon-star"></span> {{ post.rating|floatformat:1 }}
            </span>
            {% endif %}
        </h1>
    </header>

    <hr>

    {% if post.herbs %}
    <div class="herbs">
        {% for h in post.herbs.all %}
        <a href="{{ h.get_absolute_url }}"><span class="label label-default">{{ h.eng_name }}</span></a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="content">
        {{ post.content|markdown }}
        <hr>
        <footer class="pull-right"><em>Source: {{ post.source }}</em></footer>
        <div class="clearfix"></div>
    </div><!--content-->

    <hr>

    <!-- show the review form if user is authenticated -->
    {% if request.user.is_authenticated and not re %}
    <div class="review-form well">
        <h4>Write or update review</h4>
        <form action="" method="POST" role="review">{% csrf_token %}
            <div class="form-group">
                {{ form.star.label_tag }}
                {{ form.star }}
            </div>
            <div class="form-group">
                {{ form.comment.label_tag }}
                {{ form.comment }}
            </div>
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
    </div><!--review-form-->
    {% endif %}

    {% for r in post.reviews %}
    <div class="reviews well">
        <h4>{{ r.user.get_full_name }} <span class="label label-success">{{ r.star }}</span> <small>wrote on {{ r.created|date }}:</small></h4>
        <p>{{ r.comment|linebreaks }}</p>
    </div>
    {% endfor %}

</div><!--col-->
</div><!--container-->
{% endblock main %}
