{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block page_title %}
{{ page_title }}
{% endblock page_title %}

{% block page_header %}
<header class="vpad-sm">
<div class="container">
  <h1>{{ page_title }}</h1>
</div><!--container-->
</header>
{% endblock page_header %}

{% block main %}
<!---
{%for i in splitted_search_query %}
<h2>{{i}}</h2>
{%endfor %} --->
<div class="container">
<div class="row">
  {% if query_list %}
    {% for i in query_list %}
  <!---      <h2>{{i}}</h2> --->
      {% for k in i %}
      <div class="row">
      <div class="col-sm-12">

        <div class="thumbnail">
          {% if k.image %}
          <a href="{{ k.get_absolute_url }}">
            <img src='{{ k.image.url }}' class='img-responsive'>
          </a>
          {% endif %}
          <div class='caption'>
            <h3><a href="{{ k.get_absolute_url }}"> {{ k.title|truncatechars:30 }} </a> </h3>
            <small>Posted on {{ k.created|date }}.</small><small>Posted on {{ k.created|date }}.</small>
            <div>{{ k.summary }}</div>
          </div><!--caption-->
        </div><!--thumbnail-->

      </div><!--col-->
    </div><!---row-->
      {% endfor%}
    {% endfor %}
  {% endif %}

  <div class="col-md-8">
    {% if not query_list %}
      {% if not posts and request.GET.q %}
        <div class="row">
          <div class="col-sm-12">
            <h3>No Result Found</h3>
          </div><!--col-->
        </div><!--row-->
      {% endif %}
    {% endif %}

    {% for post in posts %}
      <div class="row">
      <div class="col-sm-12">

        <div class="thumbnail">
          {% if post.image %}
          <a href="{{ post.get_absolute_url }}">
            <img src='{{ post.image.url }}' class='img-responsive'>
          </a>
          {% endif %}
          <div class='caption'>
            <h3><a href="{{ post.get_absolute_url }}"> {{ post.title|truncatechars:30 }} </a> </h3>
            <small>Posted on {{ post.created|date }}.</small><small>Posted on {{ post.created|date }}.</small>
            <div>{{ post.summary }}</div>
          </div><!--caption-->
        </div><!--thumbnail-->

      </div><!--col-->
      </div><!--row-->
    {% endfor %}


    {% if posts %}
      <div class="row text-center">
      <div class="col-sm-12">

        <nav>
          <ul class="pagination">
            {% if posts.has_previous %}
            <li>
              <a href='?{{ page_var }}={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}'>
                <span class="glyphicon glyphicon-chevron-left" ></span>
              </a>
            <li>
            {% else %}
            <li class="disabled">
              <a href="#">
                <span class="glyphicon glyphicon-chevron-left" ></span>
              </a>
            <li>
            {% endif %}

            {% for n in paginator.page_range %}

            <li class="{% if posts.number == n %}active{% endif %}">
              <a href="?{{ page_var }}={{ n }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                {{ n }}
              </a>
            </li>

            {% endfor %}

            {% if posts.has_next %}
            <li>
              <a href='?{{ page_var }}={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}'>
                <span class="glyphicon glyphicon-chevron-right" ></span>
              </a>
            </li>
            {% else %}
            <li class="disabled">
              <a href="#">
                <span class="glyphicon glyphicon-chevron-right" ></span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>

      </div><!--col-->
      </div><!--row-->
    {% endif %}
  </div><!--col-->


  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      Categories
    </div><!--panel-heading-->
    <div class="panel-body" style="padding:0;">
      <ul class="list-group" style="margin:0;">
          <a class="list-group-item" href="{% url 'blog:list' %}">All
            <span class="label label-default pull-right">{{ total_posts }}</span></a>
        {% for c in categories %}
          <a class="list-group-item{% if request.GET.c == c.id %} active{% endif %}"
            href="">
            {{ c.name }} <span class="label label-default pull-right">{{ c.post_set.all|length }}</span>
          </a>
        {% endfor %}
      </ul>
    </div><!--panel-body-->
  </div><!--panel-->
  </div><!--col-->

</div><!--row-->
</div><!--container-->
{% endblock main %}
