{% extends 'base.html' %}

{% block page_title %}
{{ post.title|truncatechars:10 }}
{% endblock page_title %}

{% block page_header %}
<header>
<div class="container">
    <h1>{{ post.title }}</h1>
    <small>Posted on {{ post.created|date }}</small>
    <hr>
</div><!--container-->
</header>
{% endblock page_header %}

{% block main %}
<div class="container">

  {% if post.image %}
    <img src="{{ post.image.url }}" class="image-responsive" />
  {% endif %}

  <p>{{ post.content|linebreaks }}</p>

</div><!--container-->
{% endblock main %}
