{% extends 'base.html' %}

{% block titleblock %}
{{ page_title }}
{% endblock titleblock %}

{% block page_header %}
<center>
  <h1>Blog Posts</h1>
</center>
{% endblock page_header %}

{% block main %}
  {% for data in data_list %}
    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          {% if data.image %}
            <img src='{{ data.image.url }}' class='img-responsive'>
          {% endif %}
          <div class='caption'>
            <h3><a href="{{ data.get_absolute_url }}"> {{ data.title|truncatechars:30 }} </a> </h3>
          <p>{{ data.content|truncatechars:100 }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock main %}
