{% extends 'base.html' %}

{% block page_title %}Login{% endblock page_title %}

{% block main %}
<div class="container vpad">
<div class="row">
<div class="col-sm-offset-4 col-sm-4">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Register @ Jadibuti</h3>
        </div><!--panel-heading-->
        <div class="panel-body">

            <form action="" method="POST" role="register">
                {% csrf_token %}
                
                <!-- first_name -->
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>

                <!-- last_name -->
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>

                <!-- email -->
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <!-- username -->
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <!-- password -->
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>

                <!-- submit -->
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>

            </form>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <p>Already registered? <a href="{% url 'login' %}">Login now!</a></a>
        </div><!--panel-footer-->
    </div><!-- panel -->

</div><!--col-->
</div><!--row-->
</div><!--container-->
{% endblock main %}
