{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block page_title %}

{{ shop.name }}

{% endblock page_title %}

{% block page_header %}
<header>
<div class="container">
    <h1>{{ shop.name }}</h1>
    <hr>
</div><!--container-->
</header>
{% endblock page_header %}

{% block main %}
<div class="container">
<div class="row">
    <div class="col-sm-8">
    {% if shop.image %}
    <img src="{{ shop.image.url }}" class="image-responsive" />
    <hr>
    {% endif %}

    <div class="content">
    {{ shop.description|markdown }}
    </div><!--content-->

    <div class="container col-">
        
    </div>
    </div> <!--col 1-->

    <div class="col-sm-4">
    <div class="list-group">
        {% for herb in available_herbs %}
      <a href="{{ herb.get_absolute_url }}" class="list-group-item">
            {{ herb.eng_name }}
        {% endfor %}
      </a>
    </div>
    </div><!--col 2-->
</div><!--row-->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3"s>
        
    </div>
</div>
</div><!--container-->

{% endblock main %}
