body {
    margin-top: 50px;
}

nav.navbar, .well {
    margin-bottom: 0;
}

.jumbotron, .alert, .btn, .panel, .form-control, .well, .dropdown-menu, .thumbnail,
.panel-heading, .panel-footer,
.list-group, .list-group-item, .list-group-item:first-child, .list-group-item:last-child,
.container {
    border-radius: 0;
}

.vpad {
    padding-top: 50px;
    padding-bottom: 50px;
}

.list-group-item {
    border-left: none;
    border-right: none;
}

.text-shadow {
    text-shadow: #222 1px 1px 1px;
}

.white-bg {
    background: white;
}

.white-text {
    color: white;
}